@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0a0a;
  color: white;
  font-family: sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button:active {
  transform: scale(0.97);
}
